*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.5;
}
body {
  margin: 1em auto;
  max-width: 48em;
  padding: 0 1em;
}

div[id*=app] {
  background: rgb(255, 243, 199);
  border-radius: 1px;
  margin-bottom: 1em;
  padding: 1em;
}
