*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.5;
}
body {
  margin: 1em auto;
  max-width: 48em;
  padding: 0 1em;
}

div[id*=app] {
  background: rgb(255, 243, 199);
  border-radius: 1px;
  margin-bottom: 1em;
  padding: 1em;
}

button {
  background: none;
  border: thin solid;
  border-radius: 3px;
  color: rgb(58, 102, 240);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  padding: .5em .75em;
}
button:focus,
button:hover {
  color: rgb(48, 84, 198)
}
button:active {
  background: white;
  color: rgb(62, 80, 177);
}

